{% extends "as_email/base.html" %}
{% load static crispy_forms_tags %}
{% block title %}AS Email - Email Accounts{% endblock %}
{% block importmap %}
  <script type="importmap">
   {
     "imports": {
       "vue": "{% if settings.DEBUG %}{% static 'js/vue.esm-browser.js' %}{% else %}{% static 'js/vue.esm-browser.prod.js' %}{% endif %}",
       "vue-select": "{% static 'js/vue-select.es.js' %}"
     }
   }
  </script>
{% endblock importmap %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/vue-select.css' %}">
{% endblock extra_css %}
{% block defer_compress_js %}
  {{ block.super }}
  <script defer type="module" src="{% static 'as_email/js/app.js' %}"></script>
{% endblock defer_compress_js %}
{% block content %}
  <template id="template-email-account">
    <div>
      <div class="card-content">
        <p class="help is-danger has-tooltip-arrow has-tooltip-multiline has-tooltip-bottom" :data-tooltip="`${labelTooltips.deactivated}`" v-if="deactivated"><b>NOTE:</b> Email Account is deactivated and can not send email: [[ props.deactivatedReason ]]</p>
        <p class="help is-danger" v-if="labelErrorMessages.detail">[[ labelErrorMessages.detail ]]</p>
        <p class="help is-danger has-tooltip-arrow has-tooltip-multiline has-tooltip-bottom" :data-tooltip="`${labelTooltips.num_bounces}`" v-if="numBounces">Number of sent email bounces: [[ numBounces ]]</p>

        <div class="field has-tooltip-arrow has-tooltip-multiline has-tooltip-bottom" :data-tooltip="`${labelTooltips.delivery_method}`">
          <label class="label" :for="`id-delivery-method-${pk}`">Delivery method </label>
          <div class="control">
            <div class="select">
              <select
                name="delivery_method"
                :id="`id-delivery-method-${pk}`"
                :value="deliveryMethod"
                @input="$emit('update:deliveryMethod', $event.target.value)"
              >
                <option value="LD">
                  Local Delivery
                </option>
                <option value="AL">
                  Alias
                </option>
                <option value="FW">
                  Forwarding
                </option>
              </select>
            </div>
          </div>
          <p v-if="labelErrorMessages.delivery_method" class="help is-danger">[[ labelErrorMessages.delivery_method ]]</p>
        </div>

        <div class="field has-tooltip-arrow has-tooltip-multiline" :data-tooltip="`${labelTooltips.autofile_spam}`">
          <label class="checkbox" :for="`id_autofile_spam-${pk}`" >
            <div class="control">
              <input type="checkbox" name="autofile_spam"
                :id="`id_autofile_spam-${pk}`"
                :checked="autofileSpam"
                @input="$emit('update:autofileSpam', $event.target.checked)">
              Autofile spam</label>
            </div>
            <p v-if="labelErrorMessages.autofile_spam" class="help is-danger">[[ labelErrorMessages.autofile_spam ]]</p>
        </div>

        <div class="field has-tooltip-arrow has-tooltip-multiline" :data-tooltip="`${labelTooltips.spam_score_threshold}`">
          <label class="label" :for="`id_spam_score_threshold-${pk}`" >Spam score threshold</label>
          <div class="control">
            <input type="number" class="numberinput input"
              name="spam_score_threshold"
              :id="`id_spam_score_threshold-${pk}`"
              :value="spamScoreThreshold"
              @input="$emit('update:spamScoreThreshold', $event.target.value)">
          </div>
          <p v-if="labelErrorMessages.spam_score_threshold" class="help is-danger">[[ labelErrorMessages.spam_score_threshold ]]</p>
        </div>

        <div class="field has-tooltip-arrow has-tooltip-multiline" :data-tooltip="`${labelTooltips.spam_delivery_folder}`">
          <label  class="label" :for="`id_spam_delivery_folder-${pk}`">Spam delivery folder</label>
          <div class="control">
            <input type="text" class="input" name="spam_delivery_folder"
              maxlength="1024"
              :value="spamDeliveryFolder"
              @input="$emit('update:spamDeliveryFolder', $event.target.value)"
              :id="`id_spam_delivery_folder-${pk}`">
          </div>
          <p v-if="labelErrorMessages.spam_delivery_folder" class="help is-danger">[[ labelErrorMessages.spam_delivery_folder ]]</p>
        </div>

        <div class="field has-tooltip-arrow has-tooltip-multiline has-tooltip-bottom" :data-tooltip="`${labelTooltips.alias_for}`">
          <div class="control">
            <label :for="`id_alias_for-${pk}`" class="label">Alias for</label>
            <div class="select is-multiple">
              <v-select multiple v-model="computedAliasFor" :options="filteredValidEmailAddrs"></v-select>
            </div>
          </div>
          <p v-if="labelErrorMessages.delivery_method" class="help is-danger">[[ labelErrorMessages.alias_for ]]</p>
        </div>

        <div class="field has-tooltip-arrow has-tooltip-multiline" :data-tooltip="`${labelTooltips.aliases}`">
          <div class="control">
            <label :for="`id_aliases-${pk}`" class="label">Aliases</label>
            <div class="select is-multiple">
              <v-select multiple
                v-model="computedAliases"
                :options="filteredValidEmailAddrs"
              ></v-select>
            </div>
          </div>
          <p v-if="labelErrorMessages.delivery_method" class="help is-danger">[[ labelErrorMessages.aliases ]]</p>
        </div>

        <div :id="`div_id_forward_to_${pk}`" class="field">
          <div class="control has-tooltip-arrow has-tooltip-multiline" :data-tooltip="`${labelTooltips.aliases}`">
            <label :for="`forward-to-id-${pk}`" class="label">Forward to</label>
            <input
              type="email"
              name="forward_to"
              maxlength="254"
              class="input"
              :id="`forward-to-id-${pk}`"
              :value="forwardTo"
              @input="$emit('update:forwardTo', $event.target.value)"
            />
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            <input class="button is-primary" @click="submitData" type="submit" value="Apply" :disabled="submitDisabled">
          </span>
        </p>
        <p class="card-footer-item">
          <span>
            <input class="button is-info" @click="resetData" type="reset" value="Reset" :disabled="resetDisabled">
          </span>
        </p>
      </footer>
    </div>
  </template>
  <div class="container">
    <p class="title is-1">Email Accounts</p>

    <div id="asemail-vue-app">
      {% if email_accounts %}
        {% for email_account, email_account_form in email_accounts %}
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">{{email_account.email_address}}</p>
              <a data-action="collapse" data-target="email-account-{{email_account.pk}}" class="card-header-icon is-hidden-fullscreen" aria-label="expand card">
                <span class="icon">
                  <ion-icon name="chevron-down-outline" aria-hidden="true"></ion-icon>
                </span>
              </a>
            </header>
            <div class="is-collapsible"  id="email-account-{{email_account.pk}}">
              <email-account
                @aliases-changed="updateAliases"
                v-model:pk="emailAccountsData.pk{{email_account.pk}}.pk"
                v-model:url="emailAccountsData.pk{{email_account.pk}}.url"
                v-model:email-address="emailAccountsData.pk{{email_account.pk}}.email_address"
                v-model:delivery-method="emailAccountsData.pk{{email_account.pk}}.delivery_method"
                v-model:autofile-spam="emailAccountsData.pk{{email_account.pk}}.autofile_spam"
                v-model:spam-delivery-folder="emailAccountsData.pk{{email_account.pk}}.spam_delivery_folder"
                v-model:spam-score-threshold="emailAccountsData.pk{{email_account.pk}}.spam_score_threshold"
                v-model:alias-for="emailAccountsData.pk{{email_account.pk}}.alias_for"
                v-model:aliases="emailAccountsData.pk{{email_account.pk}}.aliases"

                v-model:forward-to="emailAccountsData.pk{{email_account.pk}}.forward_to"
                v-model:num-bounces="emailAccountsData.pk{{email_account.pk}}.num_bounces"
                v-model:deactivated="emailAccountsData.pk{{email_account.pk}}.deactivated"
                v-model:deactivated-reason="emailAccountsData.pk{{email_account.pk}}.deactivated_reason"
                v-model:valid-email-addresses="initialData.valid_email_addresses"
                v-model:field-info="initialData.email_account_field_info"></email-account>
            </div>
          </div>
        {% endfor %}
      {% else  %}
        <p>{{ user }}, you have no  email accounts.</p>
      {% endif %}
    </div>
  </div>
  {{ vue_data|json_script:"vue-data" }}
{% endblock %}
{% block javascript %}
  <script type="text/javascript">
   // Set APP_DEBUG on the window to indicate if we are in DEBUG mode or not
   // This comes from the `settings.DEBUG` in the django project's config.
   //
   window.APP_DEBUG = {{ settings.DEBUG|lower }};
  </script>
  {{ super.block }}
{% endblock javascript %}
