{% extends "registration/base.html" %}
{% load crispy_forms_tags i18n %}

{% block content_title %}<h1 class="title">{% trans "Sign In" %}</h1>{% endblock %}
{% block content %}
  <form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}
    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary">{% trans "Sign In" %}</button>
        <a class="button is-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </div>
    </div>
  </form>
{% endblock %}
