{% extends "registration/base.html" %}
{% load crispy_forms_tags i18n %}

{% block content_title %}<h1 class="title">{% trans "Change Password" %}</h1>{% endblock %}
{% block content %}
  <form method="post" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div id="pw-strength" class="block" style="display:none" data-min-score="{{ settings.ZXCVBN_MIN_SCORE }}">
      <progress id="pw-progress" class="progress is-danger" max="4" value="0"></progress>
      <p id="pw-feedback" class="help"></p>
    </div>
    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary">{% trans "Change Password" %}</button>
      </div>
    </div>
  </form>
  <div class="block">
    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </div>
{% endblock %}
