{% extends "registration/base.html" %}
{% load crispy_forms_tags i18n %}

{% block content_title %}<h1 class="title">{% trans "Change Password" %}</h1>{% endblock %}
{% block content %}
  {% if token_fail %}
    <p class="content">{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
    <a class="button is-primary" href="{% url 'account_reset_password' %}">{% trans "Request New Reset" %}</a>
  {% else %}
    <p class="content">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    <form method="post" action="{{ action_url }}">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary">{% trans "Change Password" %}</button>
        </div>
      </div>
    </form>
  {% endif %}
{% endblock %}
