{% load i18n %}<!DOCTYPE html>
<html lang="en">
<body>
  <p>{% blocktrans with site_name=site_name %}An administrator has sent you this email so you can set or reset the password for your {{ site_name }} account.{% endblocktrans %}</p>
  <p>{% blocktrans with username=username %}Your username is: <strong>{{ username }}</strong>{% endblocktrans %}</p>
  <p>{% trans "Click the link below to set your password and log in. If you have already set up your password, you can safely ignore this email." %}</p>
  <p><a href="{{ reset_url }}">{% trans "Set or Reset Password" %}</a></p>
  <p>{% trans "If you did not expect this email, no action is required." %}</p>
</body>
</html>
