{% extends "registration/base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <div class="notification is-error">
        Your account doesn't have access to this page. To proceed,
        please login with an account that has access.
      </div>
    {% else %}
      <div class="notification is-info">
        Please login to see this page.
      </divd>
    {% endif %}
  {% endif %}
  <div class="container">
    <div class="column is-four-fifths">
      <form class="box" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="text" name="username" required id="id_username" placeholder="Username">
            <span class="icon is-small is-left">
              <ion-icon name="person-circle-outline"></ion-icon>
            </span>
            <span class="icon is-small is-right">
              <ion-icon name="checkmark-outline"></ion-icon>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="password" id="id_password" placeholder="Password">
            <span class="icon is-small is-left">
              <ion-icon name="lock-closed-outline"></ion-icon>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <span class="icon is-small is-left">
              <ion-icon name="log-in-outline"></ion-icon>
            </span>
            <input class="button is-primary" type="submit" value="login">
          </p>
          <input type="hidden" name="next" value="{{ next }}">
        </div>
      </form>
    </div>
  </div>

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}
