{% load compress static project_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Apricot Systematic Email Service{% endblock title %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/png" href="{% static '/favicon.ico' %}">
    <link rel="manifest" href="{% static '/site.webmanifest' %}">
    {% block importmap %}{% endblock importmap%}
    {% compress css %}
    {% block css %}
      {% project_bulma_css %}
      <link rel="stylesheet" href="{% static 'css/bulma-tooltip.css' %}">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      {% block extra_css %}{% endblock extra_css %}
    {% endblock css %}
    {% endcompress %}
    {% block defer_noncompress_js %}
      <script async type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
      <script async nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    {% endblock defer_noncompress_js %}
    {% compress js %}
    {% block defer_compress_js %}
      {% project_third_party_js %}
      <script defer type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% endblock defer_compress_js %}
    {% endcompress %}
  </head>
  <body>
    {% block header %}
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">AS Email</a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Documentation
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>

          <div class="navbar-end">
            {% if user.is_authenticated %}
              <a class="navbar-item" href="{% url 'password_change' %}">
                <span class="tag is-link is-large">{{ user }}</span>
              </a>
            {% endif %}
            <div class="navbar-item">
              <div class="buttons">
                {% if user.is_authenticated %}
                  <a class="button is-warning" href="{% url 'logout' %}?next={{ request.path }}">
                    <span class="icon is-small">
                      <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span>Log out</span>
                  </a>
                {% else %}
                  {% url 'login' as login_url %}
                  {% if request.path != login_url  %}
                    <a class="button is-light" href="{{ login_url }}?next={{ request.path }}">
                      <span class="icon is-small">
                        <ion-icon name="log-in-outline"></ion-icon>
                      </span>
                      <span>Log in</span>
                    </a>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </nav>
  {% endblock header %}
  {% block hero %}{% endblock hero %}
  <div class="container hero is-fullheight">
    <section class="section">
      <div class="container">
        {% block messages %}
          {% if messages %}
            <div class="messages columns is-desktop">
              <div class="column is-4 is-offset-4">
                {% for message in messages %}
                  <div class="message is-{{message.level}}">
                    <div class="message-body">{{ message }}</div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endblock messages %}

        {% block content_area %}
          {% block content_title %}{% endblock content_title %}
          {% block content %}{% endblock content %}
        {% endblock content_area %}
      </div>
    </section>

    {% block modal %}{% endblock modal %}

    <footer class="footer">
      <div class="container is-fullhd">
        <div class="content has-text-centered">
          {% block footer %}
            <p>Version: {{ settings.VERSION }}</p>
          {% endblock footer %}
        </div>
      </div>
    </footer>
  </div>

  {% compress js %}{% block javascript %}{% endblock javascript %}{% endcompress %}
  </body>
</html>
