<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Apricot Systematic Email Service{% endblock %}</title>
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/stylesheet.css" media="screen, projection, tv " />
    {% block adminstyle %}{% endblock %}
    {% block styles %}{% endblock %}
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% block jshead %}{% endblock %}
    {% block scripts %}{% endblock %}
  </head>
  <body class="{%if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
    {% block sidebar-nav %}
      <ul class="sidebar-nav">
        {% if user.is_authenticated %}
          <li>User: {{ user.get_username }}</li>
          <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
          {% if user.is_staff %}
            <li><a href="{% url 'admin' %}">Admin</li>
          {% endif %}
        {% else %}
            <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
        {% endif %}
      </ul>
    {% endlbock %}
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
